<main class="content-holder">
  <div class="page-title cfx">
  <div class="container cfx">
  <h3 class="clr-blue">All News</h3>
  <ol class="breadcrump">
  <li><a href="#">Home</a></li>
  <li class="active"><a href="#">News</a></li>
  </ol>
  </div>
  
  </div>
  <div class="container news-list-wrapper cfx">
  <div class="row cfx">
       <div ng-repeat="news in NewsList">
             <div class="unit-lg-4 unit-sm-6 unit-md-4 unit-xs-12 news-holder new-list-bx">
                  <figure class="hnewsimg"><img alt="" src="{{news.image}}">
                  <span class="post-date"><i></i>{{news.date}}</span>
                  <span class="post-auhor"><i></i>{{news.PostedBy}}</span>
                  </figure>
                  <figcaption>
                  <h6 class="clr-blue">{{news.title}}</h6>
                  <p>{{news.Content}}</p>
                  <a class="btn-white-md" ng-click="NewDetails()">Learn More<i class="btnarwmd"></i></a> </figcaption>
             </div>
       </div>
  </div>
  </div>
  </main>