<main class="content-holder">
  <div class="page-title cfx">
  <div class="container cfx">
  <h3 class="clr-blue">Amet nibh vulputate cursus</h3>
  <ol class="breadcrump">
  <li><a href="#">Home</a></li>
  <li class=""><a href="#">News</a></li>
  <li class="active"><a href="#">Amet nibh vulputate cursus</a></li>
  </ol>
  </div>
  </div>
  
  <div class="container news-details-wrapper cfx">
  <div class="row cfx">
  <div class="unit-lg-12 unit-sm-12 unit-md-12 unit-xs-12 news-holder new-list-bx">
        <figure class="hnewsimg"><img alt="" src="figure/news-temp.jpg">
        <span class="post-date"><i></i>May 14, 2016</span>
        <span class="post-auhor"><i></i>Posted By : Admin</span>
        </figure>
        <figcaption>
        <h2 class="clr-blue">Amet nibh vulputate cursus</h2>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. <span class="clr-blue">Morbi accumsan ipsum velit.</span> Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <span class="clr-blue">Mauris in erat justo.</span> Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. <span class="clr-blue">Sed non  mauris vitae erat consequat</span> auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
          
          
      </div>
  </div>
  </div>
</main>